* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
}
/* 
@media screen and (max-width: 1400px) {
  body {
    max-width: 1400px;
  }
}

@media screen and (max-width: 960px) {
  body {
    max-width: 960px;
  }
}

@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
  }
}

@media screen and (max-width: 480px) {
  body {
    max-width: 480px;
  }
}

@media screen and (max-width: 375px) {
  body {
    max-width: 375px;
  }
} */
